@import '../../../../styles/variables.scss';

.days {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 20px;
	width: 100%;
	border-radius: 0 0 $border-radius $border-radius;
	background: var(--components-background-default);
	box-shadow: var(--card-shadow-default);
	.card {
		display: flex;
		flex-direction: column;
		background: var(--card-background-default);
		border-radius: 10px;
		width: 149px;
		transition: 0.3s;
		cursor: pointer;
		padding: 10px;
		margin-bottom: 10px;
		&:hover {
			box-shadow: var(--card-shadow-default);
		}
	}
	.day_data {
		margin-bottom: 7px;
		font-size: 17px;
		color: var(--text-color-default);
	}
	.day_info {
		font-size: 14px;
		margin-bottom: 12px;
		color: $base-color;
	}
	.img {
		margin-bottom: 12px;
	}
	.temp_day {
		font-size: 18px;
		color: var(--text-color-default);
	}
	.temp_night {
		font-size: 13px;
		color: $base-color;
		margin-bottom: 6px;
	}
	.info {
		font-size: 13px;
		color: $base-color;
	}
}

.tabs {
	display: flex;
	justify-content: space-between;
    margin-bottom: 7px;
	flex-wrap: wrap;
	margin: 0 10px;
}
.tabs_wrapper {
    display: flex;
	flex-wrap: wrap;
}
.tab,
.cancel {
    box-shadow: var(--card-shadow-default);
    border-radius: 5px;
    padding: 9px 20px;
    background: var(--components-background-default);
	margin: 0 15px 15px 0;
    color: var(--text-color-default);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
	width: 150px;

}

.tab {
    &:active{
        background: $primary-color;
        color: $light-color;
    }
}

.cancel{
    margin-right: 0;
	&:active{
        background: rgb(255, 99, 99);
        color: $light-color;
    }
}